

body {
	background: #ccc;
	font-family: 'IBM Plex Sans', sans-serif;
	overscroll-behavior: none;
	color: #fff;
}

#content {pointer-events:none;
	width: 85%;
	position: absolute;
	left: 15%;
	top: 15%;
	display:block;
}

h1 {
	font-size: 10vw;
	width: 100%;
	font-weight: 700;
	mix-blend-mode: exclusion;
	float: left;
    margin: 0;
}

p {
	font-size: 2vw;
	font-weight: 300;
	width: 90%;
	float: left;
    mix-blend-mode: exclusion;
}

.folio {width: 200px; height: 300px; display: flex; background: white; float: left; margin:2% 5% 5% 0; opacity: 0.5;border: 0; font-weight: 300}
#wasd {position: absolute;
	left: 50%;
	top: 90%;
	display:block;}
#wasd img {width: 7vw; mix-blend-mode: exclusion;}